.cardContainer {
    width: 70%;
    margin: auto;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    text-align: left;
}

.cardPicture {
    width: 30%;
}

.Picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardDescription {
    width: 70%;
    background-color: gray;
}

.cardDescriptionLeft {
    width: 70%;
    text-align: right;
    background-color: gray;

}

.cardTag {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px;
}