.FAQpageLayout {
    width: 60%;
    margin: auto;
    display: block;
}

.QuestionContainer {
    margin-top: 10px;
}

.Question {
    background-color: var(--black);
    color: var(--white);
    font-size: 1.3rem;
    width: 40%;
    padding: 5px;
}

.Answer {
    border: 2px solid var(--black);
    z-index: -5;
    padding: 15px;
    text-align: left;
    position: relative;
    top: -10px;
    left: 10px;

}