#header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    width: 100%;
    background-color: var(--black);
}

#headerList {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    column-gap: 5%;
    list-style: none;
}

.headerItem {
    width: 200px;
    height: 40px;
}

.navButton {
    background-color: var(--black);
    font-size: 1rem;
    letter-spacing: 4px;
    color: var(--white);
    width: 100%;
    height: 100%;
    border: none;
}

.activeLink>.navButton {
    text-decoration: none;

}

.navButton:hover {
    background-color: var(--dark-gray)
}

@media screen and (max-width: 1200px) {
    #header {
        height: auto;
    }

    #headerList {
        display: block;
        width: 100%;
    }

    .headerItem {
        width: 100%;
    }
}